<div class="map skew" 
  [style.--map-size]="mapSizePx" 
  (mousemove)="checkMap($event)"
  (mouseenter)="this.isCursorOnMap = true"
  (mouseleave)="this.isCursorOnMap = false; checkMap($event)"
  >

  <div class="tile" 
    [style.--tile-size]="tileSizePx"
    [style.margin-top]="yTilePositionPx"
    [style.margin-left]="xTilePositionPx"
    ></div>

  <div class="container">
    <div id="topLeft" class="testpoint top left"></div>
    <div id="topRight" class="testpoint top right"></div>
    <div id="bottomRight" class="testpoint bottom right"></div>
    <div id="bottomLeft" class="testpoint bottom left"></div>
  </div>

</div>
