.dialog {
    position: absolute;
    transform: translateX(-8em) translateY(-12em);
    width: 16em;
    padding: 1em;
    background-color: grey;

    box-shadow: .2em .2em .2em black;
    z-index: 20;
}

