.tile {
	display: inline-block;
	position: absolute;
	aspect-ratio : 1 / 1;
	width: calc(var(--tile-size) - var(--tile-border));
	border: var(--tile-border) solid black;
	pointer-events: all;
	z-index: 10;
}  